* {
    border: none;
    border-radius: 0px;
    font-family: "Source Code Pro";
    font-size: 13px;
    font-style: normal;
    min-height: 6px;
}

/* Push left group away from left edge */
.modules-left {
    margin-left: 15px;
}

/* Push right group away from right edge */
.modules-right {
    margin-right: 15px;
}

window#waybar {
    background: transparent;
    color: #eee;
}

#workspaces {
    background: #11111B;
    margin: 6.5px 5px;
    padding: 8px 5px;
    border-radius: 16px;
    border: solid 0px #cdd6f4;
    font-weight: normal;
    font-style: normal;
}
#workspaces button {
    padding: 0px 5px;
    margin: 0px 3px;
    border-radius: 16px;
    color: #2f354a;
    background-color: #2f354a;
    transition: all 0.2s ease-in-out;
}

#workspaces button.active {
    color: #cdd6f4;
    background-color: #cdd6f4;
    border-radius: 16px;
    min-width: 40px;
    background-size: 400% 400%;
    transition: all 0.2s ease-in-out;
}

#workspaces button:hover {
    background-color: transparent;
    color: transparent;
    border-radius: 16px;
    min-width: 30px;
    background-size: 400% 400%;
}

#hyprland-workspaces,
#wlr-taskbar,
#window,
#custom-cliphist,
#custom-wallpaper,
#custom-waybarthemes,
#custom-settings,
#custom-keybindings,
#custom-calculator,
#custom-appmenu,
#custom-appmenuicon,
#custom-hyprshade,
#custom-hypridle,
#keyboard-state,
#clock,
#custom-updates,
#hyprland-language,
#group-hardware,
#group-network,
#group-tools,
#group-links,
#hyprland-window,
#group-settings,
#custom-ufw,
#custom-external_ip,
#custom-est,
#network,
#battery,
#power-profiles-daemon,
#pulseaudio,
#bluetooth,
#user,
#backlight,
#custom-rofi,
#custom-weather,
#custom-power {
  background: #11111B;
  border-radius: 16px;
  border: solid 0px #f4d9e1;
  margin: 6.5px 10px 5px 0px;
  padding: 0px 8px;
  color: #ffffff;
}

#hyprland-workspaces:hover,
#wlr-taskbar:hover,
#hyprland-window:hover,
#custom-empty:hover,
#custom-tools:hover,
#custom-cliphist:hover,
#custom-wallpaper:hover,
#custom-waybarthemes:hover,
#custom-settings:hover,
#custom-keybindings:hover,
#custom-calculator:hover,
#custom-appmenu:hover,
#custom-appmenuicon:hover,
#custom-hyprshade:hover,
#custom-hypridle:hover,
#keyboard-state:hover,
#tray:hover,
#custom-updates:hover,
#custom-system:hover,
#hyprland-language:hover,
#group-hardware:hover,
#group-tools:hover,
#group-links:hover,
#group-settings:hover,
#custom-ufw:hover,
#custom-external_ip:hover,
#custom-est:hover,
#network:hover,
#group-network:hover,
#battery:hover,
#power-profiles-daemon:hover,
#pulseaudio:hover,
#bluetooth:hover,
#user:hover,
#custom-rofi:hover,
#custom-weather:hover,
#backlight:hover {
  background: #222;
  border: 0.5px solid #555;
}

#custom-spotify,
#custom-ufw.normal,
#custom-pkgs.normal,
#cpu.normal,
#disk.normal,
#custom-gpu.normal,
#memory.normal { color: #1db954; }

#cpu.warning,
#memory.warning,
#disk.warning,
#custom-pkgs.warning,
#weather.hot,
#custom-gpu.warning,
#custom-ufw.warning { color: #e35a00; }

#workspaces button.urgent,
#cpu.critical,
#disk.critical,
#memory.critical,
#custom-pkgs.critical,
#custom-ufw.critical,
#custom-gpu.critical,
#custom-power { color: #800517; }

#weather.cold {
    color: #257de1
}

/* Hardware “single pill” made from 4 separate modules */
#custom-gpu, #disk, #cpu, #memory {
  background-color: #11111B;
  margin: 6.5px 0px 5px 0px;   /* no gaps between them */
  padding: 0px 8px;
  border-radius: 0px;          /* square middle pieces */
}

/* Rounded ends */
#cpu { border-radius: 16px 0px 0px 16px; padding-left: 10px; }
#disk    { border-radius: 0px 16px 16px 0px; padding-right: 10px; margin-right: 10px; }