* {
    border: none;
    border-radius: 0px;
    font-family: "Source Code Pro";
    font-size: 12px;
    font-style: normal;
    min-height: 0;
}

window#waybar {
  background: transparent;
  color: #eee;
}

/* Generic module styling */
#clock,
#temperature,
#custom-external_ip,
#custom-updates,
#custom-est,
#custom-mako,
#custom-power,
#custom-wofi,
#custom-weather,
#custom-spotify,
#custom-download_speed,
#custom-ufw,
#custom-low_ports,
#network,
#pulseaudio {
  padding: 0px 6px;
  margin: 0px 2px;
  border: 1px solid #333;
  border-radius: 50px;
  background: rgba(20, 20, 20, 0.85);
}

/* Hover effect */
#custom-spotify:hover,
#custom-download_speed:hover,
#custom-low_ports:hover,
#custom-wofi:hover,
#custom-power:hover {
  background: #222;
  border: 0.5px solid #555;
}

#workspaces {
    background: #11111B;
    margin: 6.5px 5px;
    padding: 8px 5px;
    border-radius: 16px;
    border: solid 0px #cdd6f4;
    font-weight: normal;
    font-style: normal;
}
#workspaces button {
    padding: 0px 5px;
    margin: 0px 3px;
    border-radius: 16px;
    color: #2f354a;
    background-color: #2f354a;
    transition: all 0.2s ease-in-out;
}

#workspaces button.active {
    color: #cdd6f4;
    background-color: #cdd6f4;
    border-radius: 16px;
    min-width: 40px;
    background-size: 400% 400%;
    transition: all 0.2s ease-in-out;
}

#workspaces button:hover {
    background-color: transparent;
    color: transparent;
    border-radius: 16px;
    min-width: 30px;
    background-size: 400% 400%;
}

/* Clock emphasis */
#clock {
  font-weight: bold;
}

/* Weather subtle dim */
#custom-weather {
  color: #ccc;
}

#custom-spotify,
#custom-ufw.normal,
#custom-pkgs.normal,
#normal,
#cpu,
#memory { color: #1db954; }

#cpu.warning,
#warning,
#memory.warning,
#custom-pkgs.warning,
#custom-ufw.warning { color: #e35a00; }

#workspaces button.urgent,
#critical,
#cpu.critical,
#memory.critical,
#custom-pkgs.critical,
#custom-ufw.critical,
#custom-power { color: #800517; }